* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  line-height: 18px;
  font-family: 'Montserrat','Arial';
  color: #515076;
  font-weight: 400;
}

.card-container {
  width: 340px;
  height: 573px;
  padding: 25px;
  background-color: #F7F7FA;
  box-shadow: 2px 2px 10px 0px #5150761A;
}

.product-category {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #A5A3B9;
  margin-top: 30px;
  margin-bottom: 5px;
  display: block;
}

.product-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 5px;
}

.product-description {
  margin-bottom: 15px;
}

.product-compounds {
  margin-top: 5px;
  list-style: circle;
  margin-bottom: 25px;
}

.product-compound-item {
  margin-left: 16px;
}

.product-price-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-price {
  font-size: 20px;
  line-height: 24px;
}

.product-price-container {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.product-title {
  font-size: 70px;
  line-height: 78px;
  text-align: center;
  margin-bottom: 110px;
  margin-top: 220px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 45px;
  width: 100%;
  max-width: 1110px;
  margin: 0 auto 116px;
  list-style: none;
}

body {
  background-image: url('./images/background-image.png');
  background-size: 790px 697px;
  background-repeat: no-repeat;
  background-position: 398px 0px;
}

button {
  all: unset;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #515076;
  color: white;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-right: 10px;
}

#change-first-card-color-btn {
  margin-left: 375px;
}

.btn {
  transition: 0.3s;
}

.btn-blue {
  background-color: #3498db;
}

.btn-red {
  background-color: #e74c3c;
}

.container {
  width: auto;
  min-height: 477px;
  background-color: #3A3A3A;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 85px 80px 0 85px;
}

.footer-title {
  font-size: 28px;
  line-height: 154%;
  color: #FFFFFF;
  margin-bottom: 16px;
  font-weight: 800;
}

.footer-description {
  font-size: 18px;
  line-height: 154%;
  color: #FFFFFF;
  font-weight: 400;
  margin-bottom: 42px;
}

.social-links a:not(:last-child) {
  margin-right: 30.5px;
}

.input-title {
  display: block;
  font-size: 24px;
  line-height: 100%;
  color: #FFFFFF;
  margin-bottom: 13px;
  text-align: center;
}

.subscribe-form {
  width: 477px;
  height: 61px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

.subscribe-button {
  background-color: transparent;
  color: #000000;
  border-radius: 5px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  border-left: #000000 1px solid;
  border-radius: 0px;
  
}

#email-input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  padding-left: 36px;
}

.menu-title {
  display: block;
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 23px;
}

.footer-menu-item {
  margin-bottom: 17px;
  list-style: none;
}

.footer-menu-item a {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
}

.footer-bottom {
  text-align: center;
  margin-top: 206px;
}

.footer-bottom-text {
  font-size: 14px;
  line-height: 100%;
  color: #FFFFFF;
  font-weight: 400;
  margin-top: 33px;
}

.footer-bottom-text a {
  color: #FFFFFF;
  text-decoration: none;
}

.footer-line {
  width: 66px;
  height: 1px;
  background-color: #FFFFFF;
  margin: 0 auto 15px;
}

a {
  text-decoration: none;
}

#authBtn {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
#authBtn:hover {
  background-color: #2980b9;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.modal-showed {
  display: block
}

.overlay {

  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0,0,0,0.5);
}

.overlay-showed {
  display: block
}

#loginInput {
  padding: 10px;
  border-radius: 8px;
  border: solid 1px;
  width: 100%;
  margin-bottom: 10px;
}

#passwordInput {
  padding: 10px;
  border-radius: 8px;
  border: solid 1px;
  width: 100%;
  margin-bottom: 20px;
}

#loginBtn {
  cursor: pointer;
  padding: 10px;
  border-radius: 9px;
}

#loginBtn:hover {
  background-color: #2980b9;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  border: none;
  background: none;
  cursor: pointer;
  color: #333;
  transition: color 0.2s ease, transform 0.2s ease;
}

.modal-close:hover {
  color: red;
  transform: scale(1.2);
}